* {
  font-family: 'Open Sans' !important;
}
body {
  height: auto;
}

.form-container {
  width: 60%;
  padding-top: 50px;
  position: relative;
}

.form-submit-button {
  background-color: white;
  color: #30ADB4;
  border: 1px solid;
  user-select: none;
}

.form-submit-button:hover {
  background-color: rgba(48,173,180,0.3);
}

.form-submit-button:focus {
  background-color: rgba(48,173,180,0.5);
  color: whitesmoke;
  border: 1px solid #26898E;
}

.title {
  font-weight: 700;
  color: #28283c;
}

.scaling-title {
  font-size: 6em;
}

@media(max-width: 800px) {
  .scaling-title {
    font-size: 10vw;
  }
}

.title-wrapper {
  padding: 0 5px;
  margin-top: 5%;
}

.title-blue {
  color: #30ADB4;
}

.bold-text {
  font-weight: bold;
}

.small-gray-text {
  font-size: 0.85em;
  color: gray;
}

.base-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.background {
  position: fixed;
  z-index: -1;
  width: 0;
  height: 0;
}

.background-top {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 50vw solid transparent;
  border-top: 30vw solid #FBF7F2;
}

.background-bottom {
  right: 0;
  bottom: 0;
  border-left: 55vw solid transparent;
  border-bottom: 30vw solid #FFD2DE;
}

.form-bottom-part {
  padding-left: 8px;
}

.form-textarea {
  min-height: 16em;
  background-color: white;
  width: 90%;
  border: 2px solid lightgray;
  resize: vertical;
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

.form-textarea:focus {
  border: 2px solid #30ADB4;
}

.no-margin-bottom {
  margin-bottom: 0;
}

label {
  width: 100%;
}

.form-error-message {
  height: 1em;
  color: red;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}

.agree-label {
  font-weight: bold;
  color: black;
  display: inline-block;
  width: auto;
  white-space: pre;
}

.terms-and-conditions-link {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}